@media ( max-width: 480px){
    img{
        width: 420px;
        height: 400px;
    }
    .section_header{
        padding-inline: 0px;
    }
    nav{
        display: none;
    }
    .fa-bars{
        display: flex;
    }
    .logo_footer{
        display: none;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
    }
    .article_div{
        flex-direction: column;
        justify-content: center;
    }
    .section2{
        width: 100%;
        height: 100%;
        background-color: #2A2626;
        padding: 96px 0px;
    }
    article{
        padding: 96px 0px;
    }
}