.container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}
/* !Header */
.section_header{
    width: 100%;
    height: 700px;
    background-image: url("../images/banner.png");
    padding-inline: 125px;
}
.div_header{
    height: 153px;
    width: 1190px;
    display: flex;
    
}
header{
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin: 23px;
    align-items: center;
}
ul{
    display: flex;
    gap: 53px;
}
.logo{
    font-family: 'Miltonian Tattoo';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #FFFFFF;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}
.header_li{
    transition-property: all;
    transition-duration: .7s;
    border-radius: 15px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}
.header_li:hover{
    scale: 1.2;
    background-color: #218695;
    text-shadow: 0;
}
.navigation{
    font-family: 'Gentium Book Plus';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    gap: 53px;
}
.section_text{
    font-family: 'Gentium Book Plus';
    font-style: normal;
    margin-top: 327px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #C0B4B4;
}
.fa-bars{
    width: 64px;
    height: 64px;
    display: none;
    color: #218695;
    font-size: 64px;
    background-color: white;
    border-radius: 50%;
}
/* !Section 2 */
.section2{
    width: 100%;
    height: 100%;
    background-color: #2A2626;
    padding: 96px 125px;
}
.title{
    font-family: 'Gentium Book Plus';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
     text-align: center;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
     margin-top: 42px;
}
.card{
    transition-property: all;
    transition-duration: .7s;
}
.card:hover{
    scale: 1.2;
    filter: drop-shadow(0px 25px 10px black);
}
/* !Article */
article{
    width: 100%;
    height: 100%;
    background: #0B0A0A;
    padding: 96px 125px;
}
.article_div{
    margin-top: 42px;
    display: flex;
    gap: 60px;
}
.article_div2{
    display: flex;
    width: 50%px;
    height: 320px;
    background: #8E8B8B;
    padding: 64px 109px;
}
.article_div_text{
    font-family: 'Gentium Book Plus';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #FFFFFF;
}
/* !Footer */
footer{
    width: 100%;
    height: 100%;
    background: #2A2626;
    display: flex;
    padding: 32px 125px;
    align-items: center;
    justify-content: space-between;
}
.logo_footer{
    font-family: 'Miltonian Tattoo';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #FFFFFF;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}
.icons{
    display: flex;
    gap: 49px;
}
.fa-envelope, .fa-facebook, .fa-instagram{
    font-size: 64px;
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}